@font-face {
  font-family: "WorkSans";
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-style: bold;
}

@import "./vars";

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: content-box;
  font-size: 16px;
}
body {
  background-color: $lightPink;
}
body::before {
  content: " ";
  position: absolute;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 320px;
  z-index: -1;
}
.container {
  width: 330px;
}
.head {
  color: $darkPurple;
  font-size: $headerFontSize;
  font-family: $baseFont;
}
.accordion-button {
  color: $darkPurple;
}
.accordion-button:hover {
  cursor: pointer;
  color: $activeColor;
}
.accordion-button::after {
  background-image: url("../assets/images/icon-plus.svg");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/icon-minus.svg");
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: $darkPurple;
}
.accordion-item {
  border: none;
  border-bottom: 1px solid $lightPink;
}
.accordion-body {
  color: $grayishPurple;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body::before {
    content: " ";
    position: absolute;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 320px;
    z-index: -1;
  }
  .container {
    width: 600px;
  }
  .head {
    font-size: 1.3 * $headerFontSize;
  }
}
